{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "2.9.0"},  % Adjust the version as needed
  {cowlib, "2.11.0"},  % Adjust the version as needed
  {ranch, "2.1.0"} , % Adjust the version as needed
  {jsx, "3.0.0"}  % Adjust the version as needed
]}.


{shell, [
  % {config, "config/sys.config"},
    {apps, [package_web_service]}
]}.

